<div class="row">
  <div class="col-sm-12 col-md-6">
  <h3>Login de usuario:</h3>
    <%= form_with(model: @user, url: sessions_path, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, id: :user_email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, id: :user_password, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Ingresar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>