<div class="row">
  <div class="col-sm-12 col-md-6">
    <h3> Sign_up </h3>
    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :user_name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, id: :user_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, id: :user_password, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Registrar', class: 'btn btn-prymary' %>
      </div>
    <% end %>
  </div>
</div>