<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Pictory</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged? %>
          <li><a href="<%= root_path %>">Bienvenido: <%= current_user.email %></a></li>
          <li><%= link_to 'Salir', session_path(current_user), method: :delete %></li>
        <% else %>    
          <li><a href="<%= users_sign_in_path %>">Ingresar</a></li>
          <li><a href="<%= users_sign_up_path %>">Registrarse</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

